/* styles-6 variables 
http://scg.ar-ch.org
https://htmlcolorcodes.com/
*/

$theme-color: #4e4d4d;
$text-color: #090a0a;
$text-color-secondary: #090a0a;
$text-grey: #090a0a;
$divider: #090a0a;
$lighter-grey: #090a0a;
$darker-grey: r#090a0a;
$smoky-white: #eee8e8;
$heart: #090a0a;
